#item-list-component .div-background{
    background: #F0F0F5;
 }
 
 #item-list-component .title{
     font-family: Roboto;
     font-size: 24px;
     font-weight: 600;
     text-align: left;
     margin-bottom: 3px;
  }
 
  #item-list-component .business{
     font-family: Roboto;
     font-size: 16px;
     font-weight: 500;
     text-align: left;
     margin-bottom: 3px;
  }
 
  #item-list-component .location{
     font-family: Roboto;
     font-size: 12px;
     font-weight: 500;
     text-align: left;
     margin-bottom: 3px;
  }

  #item-list-component .div-background-green{
   background: #7dc075;
   margin: 10px;
}